* {
    margin: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    display: flex;
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

a {
    color: white;
}

.sidebar {
    width: 20%;
    height: 95vh;
    background-color: rgb(169, 169, 169);
}

.logo {
    text-align: center;
    margin-top: 5%;
    text-shadow: 2px 0px 2px white;
}

.dates {
    font-size: 20px;
    margin-top: 10%;
    line-height: 2;
    text-align: center;
}

.projects {
    margin-top: 10%;
    text-align: center;
    line-height: 2;
}

.projects > h1 {
    text-shadow: 2px 0px 2px white;
}

.projects > li {
    font-size: 20px;
    text-align: center;
}

svg {
    height: 25px;
}

#projectAdd {
    margin-left: 22%;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 150px;
    border: 1px solid black;
}

.main {
    height: 95vh;
    width: 80%;
    background-color: rgb(109, 109, 109);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 5vh;
    color: white;
    background-color: black;
}

.projectInfoContainer {
    display: flex;
}

.title > h1, h3 {
    margin-left: 3%;
    line-height: 1.4;
    color: white;
    text-shadow: 2px 0px 2px black;
}

.title {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;
    margin-right: 43%;
}

.taskContainer {
    margin-left: 1.5%;
    margin-top: 1%;
    width: 95%;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
}

#completed {
    width: 30px;
    margin-left: 2%;
}

.task, .taskDate, .taskEdit {
    align-self: center;
    color: white;
    text-shadow: 2px 0px 2px black;
}

.task {
    margin-left: 1%;
    margin-right: 45%;
}

.taskDate {
    margin-right: 1%;
}

.taskEdit {
    margin-right: 1%;
}

#taskAdd {
    margin-top: 2%;
    margin-left: 88%;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    border: 1px solid black;
    height: 40px;
    font-size: 17px;
}

.taskContainer > button {
    margin: auto;
    height: 30px;
    background-color: rgb(255, 255, 255, 0);
    border: none;
}

.deleteTask > img {
    height: 30px;
}

li > button {
    margin: 0 auto;
    height: 30px;
    background-color: rgb(255, 255, 255, 0);
    border: none;
}

.deleteProject > img {
    height: 25px;
}

.taskEdit > img {
    height: 30px;
}

input[type='text'] {
    padding: 8px;
    width: 300px;
    border: none;
}

input[type='date'] {
    padding: 5px;
}